@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-w-2::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.scrollbar-track-blue-lighter::-webkit-scrollbar-track {
  background-color: rgba(147, 51, 234, 0.3);
}

.scrollbar-thumb-blue::-webkit-scrollbar-thumb {
  background-color: rgb(147, 51, 234);
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
}
